<!DOCTYPE html>
<html ng-app="app">
	<head>
  	<!-- Title -->
		<title>TalkRTC Webchat</title>

		<!-- Metas -->
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- Vendor stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

		<!-- Custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/global.css" />
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/webchat.css" />

		<!-- Vendor scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
		<script src="/public/scripts/socket.io.js"></script>
	</head>
	<body ng-controller="webchat">
		<div class="webchat">
			<div class="webchat-header">
				<div class="icon">
					<span class="fa fa-fw fa-circle-o-notch"></span>
				</div>
				<div class="title">TalkRTC Webchat</div>
				<div class="actions">
					<span class="fa fa-fw fa-times" ng-click="signout()"></span>
				</div>
			</div>
			<div class="webchat-body">
				<div class="webchat-body-container">
					<div ng-repeat="message in messages" ng-class="{ 'message-left': message.type === 'recieved', 'message-right': message.type === 'sent', 'message-event': message.type === 'event' }" class="message">
						<div class="message-content">
							{{ message.content }}
						</div>
					</div>
				</div>
			</div>
			<div class="webchat-footer">
				<div class="webchat-footer-reply">
					<input type="text" placeholder="Type a message and hit enter to send..." ng-model="reply" ng-keypress="($event.which === 13) ? send() : null;" />
				</div>
				<div class="webchat-footer-send">
					<span class="fa fa-fw fa-paper-plane" ng-click="send()"></span>
				</div>
			</div>
		</div>

		<script>
		(function() {
			var app = angular.module('app', ['ngCookies']);

			// Angular factory for socket.io defined as "socket"
		  app.factory('socket', function ($rootScope) {
		    var socket = io('http://127.0.0.1:3001/webchat');

		    return {
		      on: function (eventName, callback) {
		        socket.on(eventName, function () {
		          var args = arguments;
		          $rootScope.$apply(function () {
		            callback.apply(socket, args);
		          });
		        });
		      },
		      emit: function (eventName, data, callback) {
		        socket.emit(eventName, data, function () {
		          var args = arguments;
		          $rootScope.$apply(function () {
		            if (callback) {
		              callback.apply(socket, args);
		            }
		          });
		        })
		      }
		    };
		  });

			app.controller('webchat', function($scope, $http, $window, $location, $cookies, socket) {
	      $scope.reply = '';
	      $scope.messages = [];

	      $scope.send = function() {
	        $scope.messages.push({ type: 'sent', content: $scope.reply });
					socket.emit('send-message', $scope.reply);
	        $scope.reply = '';
	      };

				$scope.signout = function() {
					$cookies.remove('token');
					$window.location.href = '/';
				};

				socket.on('recieve-message', function(message) {
					$scope.messages.push({ type: 'recieved', content: message });
				});

				socket.on('event-message', function(message) {
					$scope.messages.push({ type: 'event', content: message });
				});

				socket.on('disconnect', function() {
					$scope.messages.push({ type: 'event', content: 'You have been idle too long. Refresh the page to reconnect.' });
				});
			});
		})();
		</script>
	</body>
</html>
