<!DOCTYPE html>
<html ng-app="app">
	<head>
  	<!-- Title -->
		<title>TalkRTC Webcall</title>

		<!-- Metas -->
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">

		<!-- Vendor stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:300,400,500,700" rel="stylesheet" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />

		<!-- Custom stylesheets -->
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/global.css" />
		<link rel="stylesheet" type="text/css" href="/public/stylesheets/webcall.css" />

		<!-- Vendor scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-cookies.js"></script>
		<script src="/public/scripts/socket.io.js"></script>
	</head>
	<body ng-controller="webcall">
		<div class="webcall">
			<div class="webcall-container">
				<div class="keypad">
					<!-- Keypad infos -->
					<div class="keypad-infos">
						<div class="keypad-title">{{ keypad.title }}</div>
						<div class="keypad-secret">{{ keypad.stars }}</div>
					</div>

					<!-- Keypad numeric pad -->
					<div class="keypad-pad">
						<div class="keypad-row">
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(1)">1</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(2)">2</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(3)">3</div></div>
						</div>
						<div class="keypad-row">
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(4)">4</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(5)">5</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(6)">6</div></div>
						</div>
						<div class="keypad-row">
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(7)">7</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(8)">8</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(9)">9</div></div>
						</div>
						<div class="keypad-row">
							<div class="keypad-item"><div class="keypad-number">&nbsp;</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.click(0)">0</div></div>
							<div class="keypad-item"><div class="keypad-number" ng-click="keypad.reset()">C</div></div>
						</div>
					</div>
				</div>

				<div class="call">
		      <div class="call-infos">
						<div class="infos-username"></div>
						<div class="infos-state">{{ call.infos.state }}</div>
						<div class="infos-timer" ng-show="call.state.state === 'ongoing'">{{ call.infos.timer }}</div>
						<div class="infos-rating" ng-show="call.state.state === 'ended'">
							<span class="fa fa-fw fa-star" ng-click="callRate(1)"></span>
							<span class="fa fa-fw fa-star" ng-click="callRate(2)"></span>
							<span class="fa fa-fw fa-star" ng-click="callRate(3)"></span>
							<span class="fa fa-fw fa-star" ng-click="callRate(4)"></span>
							<span class="fa fa-fw fa-star" ng-click="callRate(5)"></span>
						</div>
					</div>
					<div class="call-actions">
						<div class="action-row" ng-show="call.state.state === 'ongoing'">
							<!-- Mute call -->
							<div class="action-item">
								<div id="call-mute" class="action-button" ng-click="callMute()">
									<span class="fa fa-fw fa-microphone"></span>
								</div>
							</div>
							<!-- Unmute call -->
							<div class="action-item hide">
								<div id="call-unmute" class="action-button" ng-click="callUnmute()">
									<span class="fa fa-fw fa-microphone-slash"></span>
								</div>
							</div>
							<!-- Settings -->
							<div class="action-item">
								<div id="call-settings" class="action-button" ng-click="callSettings()">
									<span class="fa fa-fw fa-cog"></span>
								</div>
							</div>
						</div>
						<div class="action-row" ng-show="call.state.state === 'ringing'">
							<!-- Reject call -->
							<div class="action-item">
								<div id="call-reject" class="action-button" ng-click="callReject()">
									<span class="fa fa-fw fa-times"></span>
								</div>
							</div>
							<!-- Answer call -->
							<div class="action-item">
								<div id="call-answer" class="action-button" ng-click="callAnswer()">
									<span class="fa fa-fw fa-check"></span>
								</div>
							</div>
						</div>
						<div class="action-row">
							<!-- Make call -->
							<div class="action-item" ng-show="call.state.state === 'idle'">
								<div id="call-make" class="action-button" ng-click="callMake()">
									<span class="fa fa-fw fa-phone"></span>
								</div>
							</div>
							<!-- Hangup call -->
							<div class="action-item" ng-show="call.state.state === 'calling' || call.state.state === 'connecting' || call.state.state === 'ongoing'">
								<div id="call-hangup" class="action-button" ng-click="callHangup()">
									<span class="fa fa-fw fa-phone"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script>
		(function() {
			var app = angular.module('app', ['ngCookies']);

			// Angular factory for socket.io defined as "socket"
		  app.factory('socket', function ($rootScope) {
		    var socket = io('http://127.0.0.1:3001/webcall');

		    return {
		      on: function (eventName, callback) {
		        socket.on(eventName, function () {
		          var args = arguments;
		          $rootScope.$apply(function () {
		            callback.apply(socket, args);
		          });
		        });
		      },
		      emit: function (eventName, data, callback) {
		        socket.emit(eventName, data, function () {
		          var args = arguments;
		          $rootScope.$apply(function () {
		            if (callback) {
		              callback.apply(socket, args);
		            }
		          });
		        })
		      }
		    };
		  });

			app.controller('webcall', function($scope, $http, $window, $location, $cookies, $interval, socket) {
				/*
				** Keypad access code
				*/

				$scope.keypad = {
					secret: '',
					stars: '\u00A0',
					title: 'Enter your access code'
				};

				$scope.keypad.reset = function() {
					$scope.keypad.title = 'Enter your access code';
					$scope.keypad.stars = '\u00A0';
					$scope.keypad.secret = '';
				};

				$scope.keypad.click = function(num) {
					if ($scope.keypad.secret.length == 0) {
						$scope.keypad.reset();
					}
					$scope.keypad.secret += num;
					$scope.keypad.stars += '*';
					if ($scope.keypad.secret.length == 6) {
						if ($scope.keypad.secret == '094463') {
							$scope.keypad.title = 'Valid access code';
							$scope.keypad.secret = '';
						} else {
							$scope.keypad.title = 'Invalid access code';
							$scope.keypad.secret = '';
						}
					}
				};

				/*
				** Call object
				*/
				$scope.call = {};

				$scope.call.state = {};

				/*
				** Call state
				*/
				$scope.call.state.state = 'idle';

				$scope.call.state.updateState = function(state) {
					switch(state) {
						// At this point nothing going on. You can either make or recieve a call.
						case 'idle':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "idle"');
							$scope.call.infos.state = 'Click to make call';
							$scope.call.state.state = state;
							break;

						// Waiting for the user on the other end to accept the call
						case 'calling':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "calling"');
							$scope.call.infos.state = 'Calling...';
							$scope.call.state.state = 'calling';
							break;

						// The user on the other end is trying to reach us
						case 'ringing':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "ringing"');
							$scope.call.infos.state = 'Ringing...';
							$scope.call.state.state = 'ringing';
							break;

						// The Webrtc is trying to connect both ends
						case 'connecting':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "connecting"');
							$scope.call.infos.state = 'Connecting...';
							$scope.call.state.state = 'connecting';
							break;

						// The call is actually ongoing
						case 'ongoing':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "ongoing"');
							$scope.call.state.state = 'ongoing';
							break;

						// The call has ended without errors
						case 'ended':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "ended"');
							$scope.call.infos.state = 'Call ended. Please rate your call.';
							$scope.call.state.state = 'ended';
							break;

						// The call failed at some point
						case 'failed':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "failed"');
							$scope.call.infos.state = 'Call failed, try again.';
							$scope.call.state.state = 'idle';
							break;

						// The call has been rejected by the user on the other end
						case 'rejected':
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "rejected"');
							$scope.call.infos.state = 'Call rejected. Try again.';
							$scope.call.state.state = 'idle';
							break;

						// Idle by default
						default:
							console.log('[ STATE ] Call state changed from "' + $scope.call.state.state + '" to "idle"');
							$scope.call.infos.state = 'Click to make call';
							$scope.call.state.state = 'idle';
							break;
					}
				}

				/*
				** Call informations
				*/
				$scope.call.infos = {};
				$scope.call.infos.state = 'Click to make a call';
				$scope.call.infos.timer = '00:00:00';
				$scope.call.infos.rate = 0;

				/*
				** Call timer
				*/
				$scope.call.timer = {};

				// Counter
				$scope.call.timer.timer = 0;

				// Handle for refresh loop
				$scope.call.timer.handle = null;

				// Convert the counter to human readable format
				$scope.call.timer.convertToHMS = function(timer) {
			    var sec_num = parseInt(timer, 10);
			    var hours = Math.floor(sec_num / 3600);
			    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
			    var seconds = sec_num - (hours * 3600) - (minutes * 60);

			    if (hours < 10)
						hours = '0' + hours;
			    if (minutes < 10)
						minutes = '0' + minutes;
			    if (seconds < 10)
						seconds = '0' + seconds;
			    return hours + ':' + minutes + ':' + seconds;
				}

				// Start the refresh loop
				$scope.call.timer.start = function() {
					if ($scope.call.timer.handle) return ;
					$scope.call.timer.handle = $interval(function() {
						$scope.call.timer.timer += 1;
						$scope.call.infos.timer = $scope.call.timer.convertToHMS($scope.call.timer.timer);
					}, 1000);
				};

				// Stop the refresh loop
				$scope.call.timer.stop = function() {
					if (!$scope.call.timer.handle) return ;
					$interval.cancel($scope.call.timer.handle);
					$scope.call.timer.handle = null;
					$scope.call.timer.timer = 0;
					$scope.call.infos.timer = '00:00:00';
				};

				/*
				** Call actions
				*/

				// Rate call
				$scope.callRate = function(rate) {
					console.log('[ ACTION ] Rating call (' + rate + ')');
					$scope.call.infos.rate = rate;
					$scope.call.state.updateState('idle');
				};

				// Send a call invitation
				$scope.callMake = function() {
					console.log('[ ACTION ] Making call...');
					$scope.call.state.updateState('calling');
					socket.emit('call-invite');
				};

				// Hangup call
				$scope.callHangup = function() {
					console.log('[ ACTION ] Hanging up call...');
					$scope.call.state.updateState('ended');
					socket.emit('call-hangup');
				};

				// Mute call
				$scope.callMute = function() {
					console.log('[ ACTION ] Muting call...');
					$scope.call.state.updateState('ended');
				};

				// Unmute call
				$scope.callUnmute = function() {
					console.log('[ ACTION ] Unmuting call...');
				};

				// Setting for call
				$scope.callSettings = function() {
					console.log('[ ACTION ] Call settings...');
				};

				// Answer call
				$scope.callAnswer = function() {
					console.log('[ ACTION ] Answering call...');
					$scope.call.state.updateState('connecting');
					socket.emit('call-answer');
				};

				// Reject call
				$scope.callReject = function() {
					console.log('[ ACTION ] Rejecting call...');
					$scope.call.state.updateState('idle');
					socket.emit('call-reject');
				};

				/*
				** Incoming messages from socket
				*/

				// Call is incoming
				socket.on('call-invite', function() {
					$scope.call.state.updateState('ringing');
				});

				// Call has been answered
				socket.on('call-answer', function() {
					$scope.call.state.updateState('connecting');
				});

				// Call has been rejected
				socket.on('call-reject', function() {
					$scope.call.state.updateState('rejected');
				});

				// Call has been hanged up
				socket.on('call-hangup', function() {
					$scope.call.state.updateState('ended');
				});
			});
		})();
		</script>
	</body>
</html>
