/* ************************************************************************** */
/*                                                                            */
/* File name   : index.css                                                    */
/* Description : Index page stylesheet                                        */
/* Author      : Razvan Ludosanu                                              */
/* Email       : ludosanu@gmail.com                                           */
/*                                                                            */
/* ************************************************************************** */

body {
  margin: 0px;
  padding: 0px;
  background: white;
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
}

#background {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('https://images.pexels.com/photos/155008/pexels-photo-155008.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: brightness(0.8);
filter: brightness(0.8);
}

#navbar {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  color: white;
}

#navbar a {
  color: white;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  align-items: center;
  padding: 15px 150px;
}

#navbar .container .logo {
  font-size: 28px;
  margin-right: 15px;
}

#navbar .container .brand {
  font-size: 22px;
}

#navbar .container .nav {
  flex-grow: 1;
}

#navbar .container .nav ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  float: right;
}

#navbar .container .nav ul li {
  display: inline-block;
  font-size: 15px;
  margin: 0px 50px 0px 0px;
}

#navbar .container .nav ul li:hover {
  text-decoration: underline;
}

#navbar .container .nav ul li:last-of-type {
  margin: 0px;
}

/*
** Jumbo
*/

#jumbo {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
}

#jumbo .jumbo-container {
  width: 100%;
  display: flex;
  align-items: center;
}

#jumbo .jumbo-presentation,
#jumbo .jumbo-conference {
  width: 50%;
  padding: 150px;
}

/* Presentation */
#jumbo .jumbo-presentation .title,
#jumbo .jumbo-presentation .subtitle {
  color: white;
}

#jumbo .jumbo-presentation .title {
  font-size: 50px;
  margin-bottom: 10px;
}

#jumbo .jumbo-presentation .subtitle {
  font-size: 22px;
  margin-bottom: 45px;
}

#jumbo .jumbo-presentation .buttons {
  display: flex;
  color: white;
  margin-bottom: 50px;
}

#jumbo .jumbo-presentation .buttons .button {
  text-align: center;
  margin-right: 65px;
}

#jumbo .jumbo-presentation .buttons .button:last-of-type {
  margin-right: 0px;
}

#jumbo .jumbo-presentation .buttons .button .icon {
  font-size: 20px;
  border: 2px solid white;
  padding: 25px;
  border-radius: 999px;
  display: inline-block;
  margin-bottom: 15px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

#jumbo .jumbo-presentation .buttons .button .icon:hover {
  background: rgba(0, 0, 0, 0.5);
}

#jumbo .jumbo-presentation .buttons .button .text {
  font-size: 15px;
}

/* Conference */
#jumbo .jumbo-conference .container {
  width: 50%;
  background: white;
  padding: 50px;
  border-radius: 6px;
}

#jumbo .jumbo-conference .header {
  margin-bottom: 25px;
}

#jumbo .jumbo-conference .header .title {
  font-size: 50px;
  margin-bottom: 10px;
  color: black;
}

#jumbo .jumbo-conference .header .subtitle {
  font-size: 22px;
  color: black;
}

#jumbo .jumbo-conference .header .icon {
  font-size: 50px;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

#jumbo .jumbo-conference .body p {
  font-size: 18px;
  margin: 0;
  padding: 0;
  line-height: 26px;
}


.jumbo-label {
  font-size: 14px;
  color: #333333;
  margin-bottom: 8px;
}

.jumbo-input {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Quicksand';
  font-size: 14px;
  border: 1px solid #E5E4E2;
  color: #333333;
  padding: 12px;
  border-radius: 6px;
  outline: none;
  margin: 0px 0px 25px 0px;
  -webkit-transition: border 0.5s;
  transition: border 0.5s;
}

.jumbo-input:hover {
  border: 1px solid #333333;
}

.jumbo-button {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Quicksand';
  font-size: 14px;
  border: 1px solid #333333;
  background: #333333;
  color: white;
  padding: 12px;
  border-radius: 6px;
  outline: none;
  margin: 0px;
}

.jumbo-button:hover {
  cursor: pointer;
}
