.webchat {

}

.webchat-header {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-bottom: 1px solid #3B84F7;
}

.webchat-body {
  position: absolute;
  z-index: 1;
  top: 52px;
  left: 0px;
  height: calc(100% - 102px);
  width: 100%;
  overflow: auto;
  background: white;
  display: flex;
  flex-direction: column-reverse;
}

.webchat-body-container {
  padding: 20px;
}

.webchat-body-container .message {
  margin-bottom: 8px;
}

.webchat-body-container .message-right {
  display: flex;
  justify-content: flex-end;
}

.webchat-body-container .message-event .message-content {
  color: grey;
  background: white;
}

.webchat-body-container .message-left .message-content {
  background: #3B84F7;
  color: white;
}

.webchat-body-container .message-right .message-content {
  background: #F1F0F0;
  color: black;
}

.webchat-body-container .message .message-content {
  font-size: 14px;
  display: inline-block;
  border-radius: 12px;
  padding: 8px;
  max-width: 50%;
}

.webchat-footer {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  border-top: 1px solid #3B84F7;
}

.webchat-footer-reply {
  flex-grow: 1;
  padding: 20px;
}

.webchat-footer-reply input {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
  background: white;
}

.webchat-footer-send {
  padding: 20px;
  font-size: 20px;
  color: #3B84F7;
}

.webchat-footer-send:hover {
  cursor: pointer;
}
