/* ************************************************************************** */
/*                                                                            */
/* File name   : webcall.css                                                  */
/* Description : Webcall app stylesheet                                       */
/* Author      : Razvan Ludosanu                                              */
/* Email       : ludosanu@gmail.com                                           */
/*                                                                            */
/* ************************************************************************** */

/*
** Global
*/
body {
  margin: 0px;
  padding: 0px;
  background: #181818;
  font-family: 'Quicksand';
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Quicksand';
  font-size: 15px;
  border: none;
  color: #333333;
  padding: 15px;
  outline: none;
}

/*
** Angular animation(s)
*/
.fade.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade.ng-leave {
  transition: 0.3s linear all;
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}

/*
** Push app
*/
#app-push {
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

#app-push:hover {
  cursor: pointer;
}

#app-push .container {
  display: flex;
  padding: 15px;
}

#app-push .container .icon {
  margin-right: 15px;
}

#app-push .container .icon .circle {
  background: #3B84F7;
  color: white;
  border-radius: 999px;
  font-size: 15px;
  padding: 10px;
}

#app-push .container .message .from {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

#app-push .container .message .text {
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
}

/*
** Compose app
*/
#app-compose {
  background: white;
}

#app-compose .header {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  background: #3B84F7;
  color: white;
}

#app-compose .header div {
  padding: 0 15px;
}

#app-compose .header div .fa:hover {
  cursor: pointer;
}

#app-compose .body {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0px;
  width: 100%;
  height: calc(100% - 60px);
}

#app-compose .body textarea {
  height: 100%;
}

/*
** Call app
*/
#app-call {
  position: absolute;
  z-index: 1;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-call .infos {
  text-align: center;
  font-weight: 300;
  margin-bottom: 50px;
}

#app-call .infos .userpic {
  margin: 0px auto 15px auto;
  width: 150px;
  height: 150px;
  border-radius: 999px;
  background-image: url('/public/images/user-pic.png');
  background-size: cover;
  background-position: center;
}

#app-call .infos .userstate {
  width: 120px;
  text-align: right;
  margin: -44px auto 15px auto;
  background: none;
  font-size: 30px;
}

#app-call .infos .userstate .online {
  color: #4CC417;
}

#app-call .infos .userstate .offline {
  color: #E42217;
}

#app-call .infos .username {
  color: white;
  font-size: 28px;
  margin-bottom: 5px;
}

#app-call .infos .callstate {
  color: white;
  font-size: 18px;
  margin-top: 5px;
}

#app-call .infos .calltimer {
  color: white;
  font-size: 18px;
}

#app-call .actions .row {
  display: flex;
  justify-content: center;
}

#app-call .actions .row .item {
  margin: 15px;
}

#app-call .actions .row .item .button {
  font-size: 20px;
  padding: 20px;
  border-radius: 999px;
  color: white;
}

#app-call .actions .row .item .button:hover {
  cursor: pointer;
}

#app-call .videos {
  display: none;
}

/*
** Action button handlers
*/
#message-send {
  border: 1px solid #3B84F7;
  background: #3B84F7;
}

#call-rate {
  font-size: 24px;
  color: white;
}

#call-rate .fa:hover {
  color: #4CC417;
  cursor: pointer;
}

#call-mute {
  border: 1px solid gray;
  background: #181818;
}

#call-unmute {
  border: 1px solid gray;
  background: #181818;
}

#call-make {
  border: 1px solid #4CC417;
  background: #4CC417;
}

#call-hangup {
  border: 1px solid #E42217;
  background: #E42217;
}

#call-accept {
  border: 1px solid #4CC417;
  background: #4CC417;
}

#call-reject {
  border: 1px solid #E42217;
  background: #E42217;
}

/* Keypad */
/*
.webcall .keypad-infos {
  margin: auto;
  text-align: center;
  color: white;
  font-weight: 300;
}

.webcall .keypad-infos .keypad-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.webcall .keypad-infos .keypad-secret {
  font-size: 32px;
  letter-spacing: 6px;
}

.webcall .keypad-pad {
  margin: auto;
}

.webcall .keypad-pad .keypad-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.webcall .keypad-pad .keypad-item {
  width: 60px;
  margin: 15px;
}

.webcall .keypad-pad .keypad-item .keypad-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 999px;
  -webkit-transition: background 0.5s;
  transition: border background 0.5s;
}

.webcall .keypad-pad .keypad-item .keypad-number:hover {
  background: rgba(229, 228, 226, 0.5);
  cursor: pointer;
}*/
